@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-w-[1920px] m-auto px-[200px] lg:p-0;
  }

  .header-text {
    @apply font-sprat font-medium text-ylw-100 whitespace-nowrap leading-none;
  }

  .header-text span {
    @apply font-semibold text-transparent;
    background-image: linear-gradient(#ffb64b, #f59e1c);
    background-clip: text;
  }

  .sub-text {
    @apply text-sub whitespace-nowrap font-helvetica;
    font-size: clamp(0.01rem, 2vw, 1rem);
  }

  .tech-text {
    @apply flex justify-between text-light uppercase whitespace-nowrap;
    font-size: clamp(1.5rem, 4vw, 3.75rem);
  }

  .borderline {
    @apply text-light border-b-[1px] border-[#353535] text-center;
  }
}

.text-clamp {
  font-size: clamp(2rem, 8vw, 6rem);
}

.text-outline {
  text-shadow: #fff 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
}

.center {
  left: 50%;
  transform: translateX(-50%);
}

.nav-btns a {
  background-image: linear-gradient(#ffb64b, #f59e1c);
  background-size: 0% 2px;
  background-repeat: no-repeat;
  background-position: left bottom;
  transition: background-size 0.3s ease;
}

.nav-btns a:hover {
  background-size: 100% 2px;
}

.text-stroke {
  /* -webkit-text-stroke: 1px black; */
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.filled-text {
  height: 100vh;
  width: 100%;

  background-image: url("../public/img/PROJECTSfilled.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  pointer-events: none;
}

.stroke-text {
  height: 100vh;
  width: 100%;

  background-image: url("../public/img/PROJECTSstroke.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  pointer-events: none;
}

.hover-effect a {
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.hover-effect a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 1px;
  display: block;
  right: 0;
  background: #fdb140;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}
.hover-effect a:hover:after {
  width: 100%;
  left: 0;
}

.clip-0 {
  clip-path: inset(50% 0% 0% 0%);
  transition: clip-path 1.3s cubic-bezier(0.77, 0, 0.175, 1);
}

.img.is-inview {
  clip-path: inset(0% 0% 0% 0%);
}

@media (max-width: 1070px) {
  .sub-sentence {
    right: 1.3rem;
    bottom: -0.5rem;
  }
}

::selection {
  background: #e4d0b9;
  color: #141414;
}

@font-face {
  font-family: helvetica;
  src: url("../public/fonts/HelveticaNeueMediumExtended.otf");
  font-weight: medium;
}

@font-face {
  font-family: druk;
  src: url("../public/fonts/Druk-Wide-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: sprat;
  src: url("../public/fonts/Sprat-RegularMedium.otf");
  font-weight: 500;
}

@font-face {
  font-family: sprat;
  src: url("../public/fonts/Sprat-RegularBold.otf");
  font-weight: 700;
}

@font-face {
  font-family: sprat;
  src: url("../public/fonts/Sprat-RegularBlack.otf");
  font-weight: 800;
}

@font-face {
  font-family: sprat;
  src: url("../public/fonts/Sprat-ExtendedBlack.otf");
  font-weight: 900;
}
