@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .container {
    @apply max-w-[1920px] m-auto px-[200px];
  }

  .header-text {
    @apply font-sprat font-medium text-ylw-100 whitespace-nowrap leading-none;
  }

  .header-text span {
    @apply font-semibold text-transparent;
    background-image: linear-gradient(#ffb64b, #f59e1c);
    background-clip: text;
  }

  .sub-text {
    @apply text-sub whitespace-nowrap font-helvetica;
  }

  .nav-btns a {
    background-image: linear-gradient(#ffb64b, #f59e1c);
    background-size: 0% 2px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 0.3s ease;
  }

  .nav-btns a:hover {
    background-size: 100% 2px;
  }
}

@font-face {
  font-family: helvetica;
  src: url("../public/fonts/HelveticaNeueMediumExtended.otf");
  font-weight: medium;
}

@font-face {
  font-family: sprat;
  src: url("../public/fonts/Sprat-RegularMedium.otf");
  font-weight: 500;
}

@font-face {
  font-family: sprat;
  src: url("../public/fonts/Sprat-RegularBold.otf");
  font-weight: 700;
}

@font-face {
  font-family: sprat;
  src: url("../public/fonts/Sprat-RegularBlack.otf");
  font-weight: 800;
}

@font-face {
  font-family: sprat;
  src: url("../public/fonts/Sprat-ExtendedBlack.otf");
  font-weight: 900;
}
