.marquee {
  animation: marquee 220s linear infinite;
  animation-delay: -220s;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee2 {
  animation: marquee2 220s linear infinite;
  animation-delay: -110s;
}

@keyframes marquee2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

/* Reverse Marquee */
.marqueeR {
  animation: marqueeR 220s linear infinite;
  animation-delay: -220s;
}

@keyframes marqueeR {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.marqueeR2 {
  animation: marqueeR2 220s linear infinite;
  animation-delay: -110s;
}

@keyframes marqueeR2 {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(0);
  }
}
